.container {
	margin-bottom: 2em;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

a:hover {
	text-decoration: none;
}

.thumbnail .project-title {
	color: #888899;
}

.container table {
	margin-bottom: 1.25em;
}

.footer p {
	margin: 0px;
}

.footer p .description {
	color: #888899
}

.footer .contact-icon {
	margin-right: 5px;
}